---
import BaseLayout from "@layouts/Base";
import AwesomeThing from "@components/AwesomeThing";

import { getCollection } from "astro:content";

const awesomeEntries = await getCollection("awesome");
awesomeEntries.sort((o1, o2) => {
  if (o2.data.pin) return 1;
  if (o1.data.pin) return -1;
  else if (o1.data.added_date > o2.data.added_date) return -1;
  else if (o1.data.added_date < o2.data.added_date) return 1;
  else return 0;
});
---

<BaseLayout title="Awesome" description="A curation of awesome things">
  <h2>My list of <mark>awesome</mark> things</h2>
  <p>
    This is a curated list of things I have discovered on the web and found
    useful or thought-provoking, there is also some fun stuff.
  </p>
  <p>
    Potential subjects include, but are not limited to, programming,
    engineering, technology, and woodworking.
  </p>
  <p>
    The list is sorted by date of addition (latest first), expect for my
    favorites wich are pinned.
  </p>
  <ul>
    {
      awesomeEntries.map((entry) => (
        <li>
          <AwesomeThing thing={entry} />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    padding-inline-start: 0px;
  }
  li {
    margin: 1em 0;
    list-style-type: none;
  }
</style>
