/* ===== GLOBAL ===== */

:root {
    --color-primary: #0AC8F5;
    --color-secondary: #D2F00F;
    --color-text: #cfcfcf;
    --color-bg: #1D1F21;
    --color-grey-lighter: #999;
    --color-grey: #777;
    --color-grey-darker: #444;

    --content-max-width: 50rem;
    --minimum-margin: calc(1rem + 1vw);

    color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text: var(--color-grey-darker);
        --color-bg: rgb(255, 253, 250);
        --color-primary: #207D92;
        --color-secondary: #6A7A06;
    }
}

html {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: 'Catamaran', 'Calibri', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    word-spacing: .15em;
    line-height: 1.5em;
    font-size: min(calc((1rem + 0.7vw) * 0.7), 16px);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 max(var(--minimum-margin), 50% - var(--content-max-width) / 2);
    max-width: var(--content-max-width);
    min-height: calc(100vh - 2rem);
}

/* ===== HEADERS ===== */
h1,
h2,
h3,
h4,
h5 {
    margin: 1.5em 0 .5rem;
    line-height: 1.2em;
    letter-spacing: .1em;
    font-weight: 600;
    clear: both;
    font-family: 'Chakra Petch', ui-monospace, "monospace";
}

h1+h2,
h2+h3,
h3+h4,
h4+h5 {
    /* non-clashing headings */
    margin-top: .5em;
    padding-top: 0;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.7rem;
}

h4,
h5,
h6 {
    font-size: 1.4rem;
}


/* ===== LINKS ===== */
a:link {
    color: var(--color-primary)
}

a:visited {
    color: var(--color-secondary)
}

a:hover {
    opacity: 0.8
}

/* ===== TEXT ===== */
p {
    text-align: justify;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

blockquote {
    border-left: solid 1px;
    padding-left: 0.5em;
    margin-inline-start: 0.5em;
    margin-inline-end: 0px;
}

fieldset {
    border: 2px solid var(--color-grey);
    border-radius: 0.25rem;
    padding: 2em 1.5em;
}

fieldset>p:first-of-type {
    margin-block-start: 0;
}

fieldset>p:last-of-type {
    margin-block-end: 0;
}


legend {
    font-family: 'Chakra Petch', ui-monospace, "monospace";
    font-size: 1.1em;
    display: flex;
}

legend>* {
    display: inline-block;
    padding: 1ch 1.5ch;
    border: 2px solid var(--color-grey);
    overflow: hidden;
    text-overflow: ellipsis;
}

legend>*:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

legend>*:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
    border-left: none
}

/* Vertical layout on modile */
@media (max-width: 500px) {
    legend {
        flex-direction: column;
    }

    legend>*:first-child {
        padding-top: 1.5ch;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    legend>*:last-child {
        border-radius: 0 0 0.5rem 0.5rem;
        border-left: 2px solid var(--color-grey);
        padding-top: 0.5ch;
        border-top: none;
    }
}


/* This only apply to inline code, not to multiline code block */
code:not(pre code) {
    font-family: "Monospace Code", monospace, courier;
    font-size: 0.85em;
    background-color: var(--color-grey-darker);
    border-radius: 3px;
    border: 1px solid #666666;

    display: inline-block;
    line-height: 1.1em;
    padding: 0.2em 0.2em;
}


@media (prefers-color-scheme: light) {
    code:not(pre code) {
        background-color: rgb(240, 240, 240);
    }
}

/* This apply to the code-block-wapper by astro */
pre.astro-code {
    padding: 1em;
    margin: 1em;
    font-size: 0.8em;
}

mark {
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 0 0.25ch;
}

/* In light mode primary need more peps */
@media (prefers-color-scheme: light) {
    mark {
        filter: brightness(140%);
    }
}

dfn {
    font-style: normal;
    text-decoration: underline dotted;
}


/* ===== LIST ===== */
ul {
    margin-block-start: .5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 2em;
}

li {
    margin-block-start: .5em;
    margin-block-end: 0.5em;
}

/* ===== TABLE ===== */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 0.125rem;
    border-bottom: solid 1px;
}

td {
    padding: 0.5rem;
}

th+th,
td+td {
    border-left: solid 1px;
}

/* ===== INPUT ===== */


button {
    color: var(--color-grey-darker);
    background-color: #FCFCFD;
    border-radius: 0.2em;
    border: 1px solid var(--color-grey);
    cursor: pointer;
    padding: 0.5em 1em;
    font-weight: 400;
    box-shadow: 0.15em 0.25em #999;
}

/* ===== DIVERS ===== */


img {
    max-width: min(var(--content-max-width), 80vw)
}



p:has(img:only-child) {
    text-align: center;
}


hr {
    border: 0;
    height: 1px;
    background: var(--color-text);
    width: 100%;
}



*:focus {
    outline: solid 2px;
    outline-offset: 0.25em;
    border-radius: 0.25em;
}

/* ===== UTILS ====== */
.primary {
    color: var(--color-primary)
}

.secondary {
    color: var(--color-secondary)
}

.separator {
    flex-grow: 10;
}

.horizontal-list>* {
    display: inline-flex;
}

.horizontal-list>*:not(:first-child) {
    padding-left: 1ch;
}

.horizontal-list>*:not(:last-child) {
    border-right: solid 1px;
    padding-right: 1ch;
}
