/* ===== GLOBAL ===== */

:root {
    --color-primary: #0AC8F5;
    --color-secondary: #D2F00F;
    --color-text: #cfcfcf;
    --color-bg: #1D1F21;
    --color-grey: #575757;

    --content-max-width: 50rem;
    --minimum-margin: calc(1rem + 1vw);

    color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text: var(--color-grey);
        --color-bg: #fff;
        --color-primary: #207D92;
        --color-secondary: #6A7A06;
    }
}

html {
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: 1.5em;
    font-size: min(calc((1rem + 0.7vw) * 0.7), 18px);
    font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", 'Consolas',
        "Liberation Mono", "Courier New", "monospace";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 max(var(--minimum-margin), 50% - var(--content-max-width) / 2);
    max-width: 50rem;
    min-height: calc(100vh - 2rem);
}

/* ===== HEADERS ===== */
h1,
h2,
h3,
h4,
h5 {
    margin: 1.5em 0 .5rem;
    line-height: 1.2em;
    clear: both;
}

h1+h2,
h2+h3,
h3+h4,
h4+h5 {
    /* non-clashing headings */
    margin-top: .5em;
    padding-top: 0;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

h4,
h5,
h6 {
    font-size: 1.4rem;
}


/* ===== LINKS ===== */
a:link {
    color: var(--color-primary)
}

a:visited {
    color: var(--color-secondary)
}

a:hover {
    opacity: 0.8
}

/* ===== TEXT ===== */

blockquote {
    border-left: solid 1px;
    padding-left: 0.5em;
    margin-inline-start: 0.5em;
    margin-inline-end: 0px;
}

fieldset {
    border: 2px solid var(--color-grey);
    border-radius: .25rem;
}

legend {
    font-size: 1.05em;
    padding: 0 1ch;
}

p {
    /* Dislexia friendly paragraph
    https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html*/
    font-family: Calibri, 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .12em;
    word-spacing: .16em;
}

/* ===== LIST ===== */
ul {
    margin-block-start: .5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 1em;
}

li {
    margin-block-start: .5em;
    margin-block-end: 0.5em;
}

/* ===== TABLE ===== */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 0.125rem;
    border-bottom: solid 1px;
}

td {
    padding: 0.5rem;
}

th+th,
td+td {
    border-left: solid 1px;
}

/* ===== INPUT ===== */


button {
    color: var(--color-grey);
    background-color: #FCFCFD;
    border-radius: 0.2em;
    border: 1px solid var(--color-grey);
    cursor: pointer;
    padding: 0.5em 1em;
    font-weight: 400;
    box-shadow: 0.15em 0.25em #999;
}

/* ===== DIVERS ===== */


hr {
    border: 0;
    height: 1px;
    background: var(--color-text);
    width: 100%;
}

img {
    max-width: min(var(--content-max-width), 100vw - 2* var(--minimum-margin))
}


*:focus {
    outline: solid 2px;
    outline-offset: 0.25em;
    border-radius: 0.25em;
}

/* ===== UTILS ====== */
.primary {
    color: var(--color-primary)
}

.secondary {
    color: var(--color-secondary)
}

.separator {
    flex-grow: 10;
}

.horizontal-list>* {
    display: inline-flex;
}

.horizontal-list>*:not(:first-child) {
    padding-left: 1ch;

}

.horizontal-list>*:not(:last-child) {
    border-right: solid 1px;
    padding-right: 1ch;
}
