---
import Meta from "@components/Meta";
---

    <Meta/>
    <div style="display: flex; align-items: center; flex-direction: column;">

        <h1>404</h1>
        <p>
            Sorry, it seams you have fallen off the edge of the world...
        </p>
        <p>
            You probably want to go <a href="/">home</a> now.
        </p>
        <img src="/error.svg" alt="error icon">
    </div>



<style>
    p {
        font-size: 2rem;
    }
</style>