---
import BaseLayout from "@layouts/Base";
import Card from "@components/Card";
import { getCollection } from "astro:content";

let blogroll = await getCollection("zettelkasten");
blogroll = blogroll
  .filter((n) => n.data.tags.includes("blogroll"))
  .sort((b1, b2) => {
    if (b2.data.pin) return 1;
    if (b1.data.pin) return -1;
    else return Math.random() >= 0.5 ? -1 : 1;
  });
---

<BaseLayout title="Blogroll" description="Blogs I really like">
  <h2>Blogroll</h2>
  <p>
    A (partial) list of blogs I like and consistently read. You can follow all
    of them through the magic of RSS.
  </p>
  <p>The list is sorted randomly, expect for my favorites wich are pinned.</p>
  <ul>
    {
      blogroll.map((blog) => (
        <li>
          {" "}
          <Card thing={blog} />{" "}
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    padding-inline-start: 0px;
  }
  li {
    margin: 3em 0;
    list-style-type: none;
  }
</style>
