---
import BaseLayout from "@layouts/Base";
import Activity from "@components/Activity";
---

<BaseLayout title="Home">
  <h2>Hello World!</h2>
  <p>
    Welcome! My name is Sebastien Lovergne. I'm an inveterate tinkerer and I
    work as a software engineer.
    <p></p>
    <p>
      This website is a place where I can experiment and be creative. I mostly
      publish links to external resources that I have found interesting or
      thought-provoking (and some
      <a href="https://github.com/TodePond/DreamBerd">fun stuff</a>), think of
      it as my personal web archive. I also write about some of my personal
      projects, but this is rarer.
    </p>

    <p>
      You can find me on <a href="https://github.com/TheBigRoomXXL">github</a>,
      <a href="https://tehbigroomxxl.itch.io/">itch.io</a>
      or contacts me by mail at <a href="mailto:sebastien@lovergne.dev"
        >sebastien@lovergne.dev
      </a>
    </p>

    <Activity limit="15" />
  </p>
</BaseLayout>
