---
import BaseLayout from "@layouts/Base";
import Activity from "@components/Activity";
---

<BaseLayout title="Home">
  <h2>Hello World!</h2>
  <p>
    Welcome! My name is Sebastien Lovergne. I'm an inveterate tinkerer and I
    work as a software engineer.
    <p></p>
    <p>
      This website is a place where I can experiment and be creative. I write
      about some of my personal projects when I think they are interesting
      enough and I'm not too lazy to write. I also publish links to external
      resources that I have found interesting or thought-provoking (and some
      <a href="https://github.com/TodePond/DreamBerd">fun stuff</a>). Think of
      it as my personal web archive.
    </p>

    <p>
      You can find me on <a href="https://github.com/TheBigRoomXXL">github</a> or
      <a href="https://tehbigroomxxl.itch.io/">itch.io</a>
    </p>

    <Activity />
  </p>
</BaseLayout>
