
---
import { siteConfig } from "src/site.config";
---


<hr>
<footer>
    <nav class="horizontal-list social">
        {siteConfig.socialLinks.map(({name, url}) => <a href={url}>{name}</a>)}
    </nav>

    <div class="separator"/>
    
    <nav class="horizontal-list menu">
        {siteConfig.menuLinks.map(({name, url}) => <a href={url}>{name}</a>)}
    </nav>

</footer>

<style>
    footer {
        display: flex;
        margin: 1rem;
    }

    nav.social > a {
        color: var(--color-primary)
    }

    nav.menu > a {
        color: var(--color-secondary)
    }
</style>