
---
import { siteConfig } from "src/site.config";
---


<hr>
<footer>
    <nav class="horizontal-list social">
        {siteConfig.socialLinks.map(({name, url}) => <a href={url}><wbr/>{name}</a>)}
    </nav>

    <nav class="horizontal-list menu">
        {siteConfig.menuLinks.map(({name, url}) => <a href={url}><wbr/>{name}</a>)}
    </nav>

</footer>

<style>
    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 1rem;
        margin: 1rem;
    }

    @media (min-width: 640px) {
        footer {
            flex-direction: row;
        }
    }

    nav.social > a {
        color: var(--color-primary)
    }

    nav.menu > a {
        color: var(--color-secondary)
    }

</style>