---
import { siteConfig } from "src/site.config";
---
<header>
    <nav>
        <a href="/" tabindex="-1">
            <img
                src="icon.svg"
                alt="A logo representing the letters SL"
                class="logo"
            />
        </a>
        
        <div>
            <a href="/" class="reset">
                <h1 class="title">
                    {siteConfig.title}
                </h1>
            </a>
            <div class="horizontal-list">
                {siteConfig.menuLinks.map(({name, url}) =>
                    <a href={url} rel="prefetch"><wbr/>{name}</a>
                )}
            </div>
        </div>
    </nav>
    <hr>
</header>


<style>
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 1rem 0;
    }

    .logo { 
        height: 6rem;
        width: 6rem;
        margin-right: 1rem;
    }
    
    .reset {
        text-decoration: none;
    }
    
    
    .title {
        color: var(--color-primary) ;
        font-size: 2rem;
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }
    
    .horizontal-list > a {
        font-size: 1.1rem;
        color: var(--color-secondary);
    }
    
    .title, .horizontal-list {
        text-align: center;
    }

    @media(min-width: 500px) {
        nav {
            flex-direction: row;
        }
        .title, .horizontal-list {
            text-align: left;
        }
    }
</style>