---
import Meta from "@components/Meta";
import Header from "@components/Header";
import Footer from "@components/Footer";
import { siteConfig } from "src/site.config";

interface Props {
	title?: string;
	description?: string;
	openGraphImage?: string;
	frontmatter?: any;
}

let {
	title = siteConfig.title,
	description = siteConfig.description,
	openGraphImage = siteConfig.openGraphImage,
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<Meta
			title={title}
			description={description}
			openGraphImage={openGraphImage}
		/>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<div class="separator"></div>
		<slot name="before-footer" />
		<Footer />
	</body>
</html>
