---
import Meta from "@components/Meta";
import Header from "@components/Header";
import Footer from "@components/Footer";
import { siteConfig } from "src/site.config";

interface Props {
	title?: string;
	description?: string;
	frontmatter?: any;
}

let {
	title = siteConfig.title, 
	description = siteConfig.description,
	frontmatter
} = Astro.props;

if (frontmatter?.title != undefined ){
	title = frontmatter.title
}

if (frontmatter?.description != undefined ){
	description = frontmatter.description
}
---

<html lang={siteConfig.lang}>
	<head>
		<Meta title={title} description={description}/>
	</head>
	<body>
		<Header/>
		<main >
			<slot />
		</main>
		<div class="separator"/>
		<Footer />
	</body>
</html>
