---
import BaseLayout from "@layouts/Base";
import BlogrollEntry from "@components/BlogrollEntry";
import { getCollection } from "astro:content";

const blogroll = await getCollection("blogroll");

// Pseudo random sort expect for pin
blogroll.sort((b1, b2) => {
  if (b2.data.pin) return 1;
  if (b1.data.pin) return -1;
  else return Math.random() >= 0.5 ? -1 : 1;
});
---

<BaseLayout title="Blogroll" description="Blogs I really like">
  <h2>Blogroll</h2>
  <p>
    This is a list of blog I like and regularly read. Most of theme are
    technical blog about progamming.
  </p>
  <p>
    The list is sorted by randomly, expect for my favorites wich are pinned.
  </p>
  <ul>
    {
      blogroll.map((blog) => (
        <li>
          {" "}
          <BlogrollEntry blog={blog} />{" "}
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    padding-inline-start: 0px;
  }
  li {
    margin: 3em 0;
    list-style-type: none;
  }
</style>
